@font-face {
  font-family: "Virgil";
  src: url("https://unpkg.com/@excalidraw/excalidraw@0.13.0-4d26993/dist/excalidraw-assets/Virgil.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("https://unpkg.com/@excalidraw/excalidraw@0.13.0-4d26993/dist/excalidraw-assets/Cascadia.woff2");
}

@media only screen and (min-width: 1400px) {
  #site-nav, .site-header {
      width: 350px;
  }
  .main {
    max-width: 1000px;
  }
  .home-h1 { font-size: 30px !important; }
}

.buddha-blockquote {
  img {
    width: 120px; float: left; margin-left: 55px;
  }
  blockquote {
    font-size: 1.8em; text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .buddha-blockquote {
    img {
      width: 105px; float: left; margin-left: 5px;
    }
    blockquote {
      font-size: 1.5em; text-align: center;
    }
  }
}

.tag-cloud {
  font-size: 1em;
  font-weight: bold;
  color: #f2a41f;
}

ul.check, .check ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding-left: 1.8em;
  }

  li::before {
    content: "✓ ";
  }
}
